
.navbar-pf {
    background: white;
}
.navbar-pf .navbar-utility > li > a {
    color: #000 !important;
}

.navbar-title {
    background-image: url('../img/logo-chaimeleon.svg');
    background-size: contain;
    background-repeat: no-repeat;
    height: 86px;
    width: 180px;
    margin: 8px 10px 5px;
    text-indent: -99999px;
}


